<div id="Help" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send A Message To Our Developers</h4>
            </div>
            <div class="modal-body">
                <label for="Help-message">Message</label>
                <textarea class="form-control" id="Help-message"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="Help-Ok">OK</button>
                <button type="button" class="btn btn-error" id="Help-Close">Close</button>
            </div>
        </div>
    </div>
</div>
