<div id="NewEntryForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a New Message</h4>
            </div>
            <div class="modal-body">
                <label for="NewEntryForm-message">Message</label>
                <textarea class="form-control" id="NewEntryForm-message"></textarea>
                <p></p>
                <label for="NewEntryForm-links">Links</label>
                <input type="url" name="NewEntryForm-links" id="NewEntryForm-links" class="form-control">
                <p></p>
                <label for="NewEntryForm-file" class="btn btn-primary btn-block form-group hover" id="NewEntryForm-file_label">Choose File Attachments</label>
                <input accept="image/*,application/pdf" value="" type="file" class="btn btn-primary btn-block form-group" id="NewEntryForm-file">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="NewEntryForm-OK">OK</button>
                <button type="button" class="btn btn-error" id="NewEntryForm-Close">Close</button>
            </div>
        </div>
    </div>
</div>
